.header{
	float: left;
	width: 100%;
	margin: 0px;
  border: 0px;
  padding: 0px;
	background-color: #999999
	}

.nav{
	float: left;
	width: 100%;
	margin: 0px;
  border: 0px;
  padding: 0px;
	background-color: #FFDAEC;
	}
	
@media (min-width: 768px) and (max-width: 991px) {
	.column1 {
		float: left;
		width: 70%;
		margin: 0px;
  	border: 0px;
  	padding: 0px;
  	background-color: #99FFCC;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.column2 {
		float: right;
		width: 30%;
		margin: 0px;
  	border: 0px;
  	padding: 0px;
		background-color: #6666FF;
	}
}